# Reference:
# https://help.github.com/articles/ignoring-files/
# https://github.com/github/gitignore


# private
secrets.*
credentials.*
*.pem

# configs
user.gitconfig

# environment
.env
.env.*
.env*.local
next-env.d.ts

# dependencies
/node_modules/

# development
*.tsbuildinfo
/.next/

# testing
/coverage/

# production
/build/
/out/

# logs
*.log
npm-debug.log*

# misc
.DS_Store
